                   
                   
                   
                    Team ID: PNT2022TMID43802
                    AI-Powered Nutrition Analyzer For Fitness Enthusiasts Web-Application is developed and maintained by a group of four members: 
                                                            ARUN BINU
                                                            ADARSH H
                                                           VYSHNAV DEV T
                                                            AKASH P R


REQUIREMENTS
-------------

HTML FILES                                      JS FILES                                    CSS FILES   
-----------                                   ------------                                  --------------
ibm nutrition analyser.html                   index.js                                       ibm.css
upload.html                                    app.js                                         about.css
about.html                                                                                   cal.css                                          
bmi.html                                                                                     upload.css                                   
index.html                                                                     


PYTHON FILES - app.py  : classifier.py
------------

// **************      //     ************** //

Use of- IBM Watson studio : Anaconda navigator : jupyter notebook : python : html : css : javascript : pip : anaconda prompt : CNN

packages - flask : numpy : pandas : scikit-learn : tensorflow==2.3.0 : keras=2.4.0 :image classifier



// **************      //     ************** //



Project files structure - 
Dataset > TEST_SET ; TRAIN_SET 
Flask > Sample_Image ; static ; templates [home.html - image.html - about.html - imageprediction.html - index.js - style.css - .....] ; uploads ; app.py ; nutrition.h5 ; requirements.txt
Training > training model files


// **************      //     ************** //


How to run ;

open all files in one single platform/environment
run " home.html " the webapplication will start working
